.main-nav {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
    background: #e9e9e9;
    position: relative;

    @media (min-width: 768px) {
        position: static;
    }

    &__item {
        display: block;
        color: #0066ff;
        text-decoration: none;
        font-size: 18px;
        margin-bottom: 20px;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #5cb3fd;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }
        &:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }

        @media (min-width: 768px) {
            display: inline-block;
            margin-bottom: 0;
            margin-right: 20px;
        }

        &.active {
            font-weight: bold;
        }
    }
    
    &__links {
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        text-align: center;
        background: #e9e9e9;
        z-index: 10;
        
        @media (min-width: 768px) {
            position: static;
        }
    }
}

.sandwich-menu{
    float: right;
    cursor: pointer;
    padding-top: 13px;
    height: 42px;

    @media(min-width: 768px) {
        display: none;
    }

    &.active {
        .bar1 {
            transform: rotate(-45deg) translate(-4px, 5px);
        }

        .bar2 {
            opacity: 0;
        }

        .bar3{
            transform: rotate(45deg) translate(-5px, -6px);
        }
    }
}

.bar1, .bar2, .bar3{
	width: 20px;
	height: 4px;
	background: #5cb3fd;
	margin-bottom: 3px; 
	transition: transform 0.4s;
}

.hidden {
    display: none ;

    @media (min-width: 768px) {
        display: block;
    }
}