form {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding: 20px;
    background: #e9e9e9;
}

.form {
    &-wrap {
        margin-bottom: 25px;
        width: 100%;

        &__gender {
            border: 0;
            padding: 0;

            input[type="radio"] {
                display: none;
            }

            input[type="radio"]:checked + .form-label__gender {
                background-position: 0;
                transform: scale(1.3);
                transition: transform 0.25s ease-out;
            }

            legend {
                font-size: 12px;
                color: #5f5f5f;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
        }
    }

    &-label {
        display: block;
        font-size: 12px;
        color: #5f5f5f;
        text-transform: uppercase;
        margin-bottom: 5px;

        &__require {
            color: red;
        }

        &__gender {
            display: inline-block;
            width: 60px;
            height: 60px;
            margin-right: 20px;
            cursor: pointer;

            &-male {
                background: url('../../images/male.svg') no-repeat 2px 3px;
                background-size: 45px;
            }

            &-female {
                background: url('../../images/female.svg') no-repeat 3px 2px;
                background-size: 45px;
            }
        }
    }

    &-field {
        display: inline-block;
        border: 1px solid #9ca0a4;
        border-radius: 4px;
        padding: 10px;
        height: 40px;
        width: 100%;
        margin-bottom: 15px;

        @media (min-width: 768px) {
            margin-bottom: 0;
        }

        &__photo {
            @media (min-width: 768px) {
                max-width: 197px;
            }
        }

        &__select {
            background: #fff;
        }

        &:focus {
            border: 1px solid #5cb3fd;
            outline: 0;
        }
    }
}

.btn {
    background: #5cb3fd;
    border: 0;
    border-radius: 4px;
    width: 100%;
    max-width: 375px;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        background: #57a7eb;
    }

    &:focus {
        outline: 0;
    }

    &-upload {
        height: 41px;
        font-size: 14px;
        vertical-align: middle;
        line-height: 12px;

        @media (min-width: 768px) {
            display: inline-block;
            margin-left: 20px;
            max-width: 118px;
        }
    }
}

.flexible {
    display: flex;
    justify-content: space-between;
}